Dotfiles/
.config/zsh/.antidote/
.config/zsh/.antidote/*
.config/zsh/.zcompdump
.config/zsh/.zsh_plugins.zsh
.config/zsh/.p10k.zsh
.config/nvim/lazy-lock.json
.config/tmux/plugins/tmux-sensible
.config/tmux/plugins/tmux-yank
.config/tmux/plugins/tpm
.config/tmux/plugins/vim-tmux-navigator
.config/nnn/.selection
.config/nnn/sessions/
.config/bash/history
.config/btop/btop.log
.config/emacs/eln-cache/
.config/emacs/cache/
.config/emacs/elpa/
.config/emacs/elpaca/
.config/emacs/tree-sitter/
.config/emacs/custom.el
.config/emacs/elgrep-data.el
.config/micro/buffers
.config/zellij/plugin
.config/vim/.netrwhist
.config/nushell/history*
.config/fish/fish_variables
.config/nnn/.lastd
.local/bin/bun*
