layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            // "https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
            plugin location="file:/home/tibor/.config/zellij/plugin/zjstatus.wasm" {
                format_left   "| {mode} #[fg=#CDD6F4]{session}"
                format_center "{tabs}"
                format_right  "{command_git_branch} #[fg=#FAB387,bold]| {datetime} #[fg=#FAB387,bold]|"
                format_space  " "

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[fg=#11111B,bg=#F9E2AF] {name} "
                mode_pane          "#[fg=#11111B,bg=#EBA0AC] {name} "
                mode_tab           "#[fg=#11111B,bg=#EBA0AC] {name} "
                mode_scroll        "#[fg=#11111B,bg=#A6E3A1] {name} "
                mode_enter_search  "#[fg=#11111B,bg=#A6E3A1] {name} "
                mode_search        "#[fg=#11111B,bg=#A6E3A1] {name} "
                mode_session       "#[fg=#11111B,bg=#CBA6F7] {name} "
                mode_move          "#[fg=#11111B,bg=#CBA6F7] {name} "
                mode_prompt        "#[fg=#11111B,bg=#CBA6F7] {name} "
                mode_locked        "#[fg=#11111B,bg=#F38BA8] {name} "
                mode_resize        "#[fg=#11111B,bg=#F5E0DC] {name} "
                mode_rename_tab    "#[fg=#11111B,bg=#F5E0DC] {name} "
                mode_rename_pane   "#[fg=#11111B,bg=#F5E0DC] {name} "
                mode_tmux          "#[fg=#11111B,bg=#ffc387] {name} "

                tab_separator            "#[fg=#CDD6F4] | "
                tab_normal               "#[fg=#6C7086] {index}"
                tab_active               "#[fg=#CDD6F4,bold]({index})"
                tab_fullscreen_indicator "[] "

                command_git_branch_command    "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format     "#[fg=#74C7EC] {stdout} "
                command_git_branch_interval   "10"
                command_git_branch_rendermode "static"

                datetime          "#[fg=#FAB387,bold]{format}"
                datetime_format   "%H:%M"
                datetime_timezone "Europe/Vienna"
            }
        }
    }
}
