* {
  font-family: JetBrainsMono Nerd Font Mono, FiraCode Nerd Font Mono;
  font-style: normal;
  font-weight: 500;
  padding: 0.1em
}

window#waybar {
  border-radius: 10px;
  background: transparent;
  color: #ffffff;
}

tooltip {
  background: #000000;
  border-radius: 10px;
  font-size: 18pt;
}

tooltip label {
  padding: 1em;
}

#workspaces {
  background: #000000;
  border-top: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 20pt;
  padding-top: 10px;
  padding-bottom: 0px;
}

#workspaces button {
  color: #5b5251;
  padding-top: 5px;
  padding-bottom: 5px;
}

#workspaces button.focused {
  color: #98bb6c;
}

#workspaces button.active {
  color: #98bb6c;
}

#workspaces button.urgent {
  color: #e6c384;
}

#workspaces button:hover {
  background: #1f1f28;
  border-color: #1f1f28;
  color: #7e9cd8;
}

#network.icon {
  background: #000000;
  font-size: 28pt;
  padding-top: 10px;
  padding-bottom: 0px;
}

#network {
  background: #000000;
  font-size: 14pt;
  padding-top: 0px;
  padding-bottom: 10px;
}

#wireplumber.icon {
  font-size: 28pt;
  padding-top: 10px;
  padding-bottom: 0px;
}

#wireplumber {
  background: #000000;
  font-size: 14pt;
  padding-top: 0px;
  padding-bottom: 10px;
}

#custom-calendar-icon {
  background: #000000;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
}

#clock {
  background: #000000;
  color: #dcd7ba;
  font-size: 14pt;
  padding-top: 10px;
  padding-bottom: 0px;
}

#clock.date {
  background: #000000;
  color: #dcd7ba;
  font-size: 14pt;
  padding-top: 0px;
  padding-bottom: 10px;
}

#custom-time-icon {
  background: #000000;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
}

#clock.time {
  background: #000000;
  color: #dcd7ba;
  font-size: 14pt;
  padding-top: 0px;
  padding-bottom: 10px;
}

#battery {
  background: #000000;
  color: #98bb6c;
  font-size: 30pt;
  padding-top: 0px;
  padding-bottom: 0px;
}

#battery.percentage {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid white;
  color: #dcd7ba;
  font-size: 12pt;
  padding-top: 0px;
  padding-bottom: 20px;
}

#custom-wlogout {
  background: #000000;
  font-size: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#custom-separator {
  background: #000000;
}
