* {
    border: none;
    border-radius: 16px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 20px;
}

window {
    color: white;
    background-color: #000000;
    border-bottom: 2px solid white;
    border-radius: 16px;
}

#input {
    color: white;
    background-color: #000000;
    border-top: 2px solid white;
    padding: 1em;
}

#input image {
    color: #ffffff;
}

#entry {
    margin: 10px;
    padding: 0.75em;
}

#entry:selected {
    background: linear-gradient(90deg, #8b8f78, #000000);
    background-color: #000000;
    border: 1px solid white;
}

#text {
    color: white;
}

#text:selected {
    color: black;
}
