/* #ui */
* {
  font-family: "Iosevka Nerd Font Mono", monospace !important;
  overflow: hidden;
}
.LH {
  background: unset;
  margin-top: -2px;
  margin-left: -2px;
  color: #000000;
  z-index: 0;
  padding: 0.2em;
}
.LH:before {
  position: absolute;
  background: #ffff00;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}
.D .LH {
  border-color: rgb(0, 0, 0);
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
/* hints matching chars */
.MC {
  color: #cc5200;
}
.D .MC {
  color: #e92626;
}
/* bottom hud */
.HUD {
  bottom: 1em;
  left: 1em;
  right: unset;
  border-radius: 1em;
  padding: 1em;
  height: auto;
  line-height: auto;
  text-transform: lowercase;
  color: #838686;
  max-width: auto;
  min-width: unset;
  display: flex;
  align-items: left;
}
.HUD.UI {
  min-width: 20em;
  align-items: unset;
}
.HUD:after {
  border-radius: unset;
  border: none;
  background: rgb(247, 246, 246);
}
.HUD.D {
  border-color: rgb(80, 83, 84);
}
.HUD.D:after {
  background: rgb(10, 14, 20);
}
/* -------------------------------------------------------------------------------- */
/* #omni */
* {
  font-family: "Iosevka Nerd Font Mono", monospace !important;
  font-size: 18px;
  overflow: hidden;
}
.transparent {
  opacity: 1;
}
body {
  overflow: hidden;
  border-radius: 1em;
}
body.has-dark {
  overflow: hidden;
  border-color: rgb(80, 83, 84);
}
body:after {
  overflow: hidden;
  border: unset;
}
#bar {
  background: rgb(247, 246, 246);
  border-radius: unset;
  border-bottom: unset;
  padding: 1em;
}
.has-dark #bar {
  background: rgb(10, 14, 20);
}
#bar::before {
  content: "â¯";
  display: inline-block;
  height: 1em;
  width: 1em;
  position: absolute;
  padding: 0.5em;
  top: 0.8em;
  left: 1em;
  z-index: 300;
  font-size: 18px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.has-dark #bar::before {
  color: #d4d4d4;
}
#input {
  border: none;
  background: none;
  box-shadow: unset;
  font-size: 18px;
  color: #1f2731;
  padding-left: 2em;
}
.has-dark #input {
  color: #ffffff;
}
#toolbar {
  top: 1em;
  right: 1em;
}
#toolbar .button {
  height: 1em;
  width: 1em;
  padding: 0.5em;
  cursor: pointer;
  position: relative;
  opacity: 0.6;
  transition: 100ms ease-in-out opacity;
}
#toolbar .button:hover {
  background: unset;
  opacity: 1;
}
#toolbar .button > svg {
  opacity: 1;
}
#toolbar .button#toggle-dark > svg {
  transform: translateY(1px) rotate(45deg);
}
#toolbar .button#close > svg {
  transform: scale(1.4);
}
#toolbar .button#toggle-dark .i-moon {
  fill: unset;
  stroke-width: 1.4;
}
#toolbar .button#toggle-dark .i-sun {
  stroke-width: 2.1;
}
.has-dark #toolbar .button#toggle-dark .i-moon {
  fill: #ddd8cd;
  stroke: #ddd8cd;
}
.has-dark #toolbar .button#toggle-dark .i-sun {
  fill: #ddd8cd;
  stroke: #ddd8cd;
}
.has-dark #toolbar .button#close > svg {
  fill: #ddd8cd;
  stroke: #ddd8cd;
}
#list {
  background: rgb(247, 246, 246);
  border-radius: unset;
  padding: 1em;
}
.has-dark #list {
  background: rgb(10, 14, 20);
}
.item {
  padding: 0.2em;
  margin: 0.2em;
  margin-top: 0em;
  border: unset;
  border-radius: 1em;
  height: 2.8em;
}
.item::before {
  position: absolute;
  background: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}
.item.s,
.item:hover {
  background-color: unset;
  border: 3px rgb(0, 0, 0) solid;
}
.has-dark .item.s,
.has-dark .item:hover {
  border: 3px rgb(80, 83, 84) solid;
}
.item.s::before {
  background-color: rgb(255, 255, 255);
}
.item:hover::before {
  background-color: #ffffff;
}
.has-dark .item.s::before {
  background-color: rgb(80, 83, 84);
}
.has-dark .item:hover::before {
  background-color: rgb(80, 83, 84);
}
.item .icon {
  width: 1.5em;
  height: 1.5em;
  padding-right: unset;
  margin-right: 1em;
  margin-top: 0.2em;
  background-position: bottom right;
}
.has-dark .item .icon {
  fill: #ddd8cd;
  stroke: #ddd8cd;
}
.item .icon path {
  opacity: 0.6;
  position: absolute;
  z-index: -1;
  transform-origin: 0px 0px;
  transform: scale(0.75);
}
.item .top {
  color: #838686;
  position: relative;
  height: auto;
}
.has-dark .item .top {
  color: #ddd8cd;
}
.item .top .title {
  font-size: 18px;
}
.item .top .title match {
  color: #505354;
}
.has-dark .item .top .title match {
  color: #ffffff;
}
.item .top .title:empty::after {
  content: "<blank>";
}
.item .bottom {
  position: relative;
  height: auto;
  margin-top: -0.3em;
  margin-left: 2.5em;
}
.item .bottom a {
  color: #b6b8b8;
  font-size: 16px;
}
.has-dark .item .bottom a {
  /* color: #4a545e; */
}
.has-dark .item .bottm a:hover {
  color: #123123;
}
.item .bottom a match {
  color: #686c6d;
}
.has-dark .item .bottom a match {
  color: #76808a;
}
/* -------------------------------------------------------------------------------- */
/* #find */
* {
  font-family: "Iosevka Nerd Font Mono", monospace !important;
  background: unset;
  font-size: 18px;
}
:host,
body {
  overflow: hidden;
  background-color: unset !important;
  padding: 1em !important;
}
:host(.D),
body.D {
  overflow: hidden;
  background-color: unset !important;
  padding: 1.5em !important;
}
.r {
  color: #838686;
  border: none;
  border-radius: unset;
  box-shadow: unset;
  background: unset;
  height: 1em;
}
.r.D {
  background: unset;
  color: #d4d4d4;
}
#i {
  color: #1f2731;
}
.D #i {
  color: #ffffff;
}
